<?xml version="1.0" encoding="UTF-8"?><widget id="A6175231153407" security="false" version="0.0.1">

    <name>app</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <content src="index.html"/>

    <access origin="*"/>

    <preference name="pageBounce" value="false"/>

	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>

	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

	<preference name="hScrollBarEnabled" value="false"/>

	<preference name="vScrollBarEnabled" value="false"/>

	<preference name="autoLaunch" value="true"/>

	<preference name="fullScreen" value="false"/>

	<preference name="autoUpdate" value="true"/>

	<preference name="smartUpdate" value="false"/>

	<preference name="debug" value="false"/>

	<preference name="statusBarAppearance" value="true"/>

	<permission name="readPhoneState"/>

	

	

	

	<permission name="fileSystem"/>

	<permission name="internet"/>

	

	

</widget>