.page-app{padding-bottom:80px}
.page-app .app-combo .banner .middle-wrapper:before,.page-app .app-devices .banner .middle-wrapper:before,.page-app .app-info .banner .middle-wrapper:before,.page-app .app-integration .banner .middle-wrapper:before,.page-app .app-security .banner .middle-wrapper:before{bottom:-50px;width:20px;height:20px}
.page-app .app-info .banner .middle-wrapper:before{left:175px}
.page-app .app-security .banner .middle-wrapper:before{left:295px}
.page-app .app-combo .banner .middle-wrapper:before{left:410px}
.page-app .app-statistics .banner .middle-wrapper:before{left:525px}
.page-app .app-devices .has-devices .middle-wrapper:before,.page-app .app-integration .banner .middle-wrapper:before{left:640px}
.page-app .app-integration .has-devices .middle-wrapper:before{left:755px}
html[lang=en] .page-app .app-info .banner .middle-wrapper:before{left:175px}
html[lang=en] .page-app .app-security .banner .middle-wrapper:before{left:290px}
html[lang=en] .page-app .app-combo .banner .middle-wrapper:before{left:445px}
html[lang=en] .page-app .app-statistics .banner .middle-wrapper:before{left:550px}
html[lang=en] .page-app .app-integration .banner .middle-wrapper:before{left:665px}
html[lang=en] .page-app .app-devices .has-devices .middle-wrapper:before{left:670px}
html[lang=en] .page-app .app-integration .has-devices .middle-wrapper:before{left:775px}
@-webkit-keyframes undulate{0%,100%,50%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
25%{-webkit-transform:translate3d(-6px,-18px,0);transform:translate3d(-6px,-18px,0)}
75%{-webkit-transform:translate3d(6px,10px,0);transform:translate3d(6px,10px,0)}
}
@keyframes undulate{0%,100%,50%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
25%{-webkit-transform:translate3d(-6px,-18px,0);transform:translate3d(-6px,-18px,0)}
75%{-webkit-transform:translate3d(6px,10px,0);transform:translate3d(6px,10px,0)}
}
@-webkit-keyframes cloud-float{0%{background-position:0 80%}
100%{background-position:-100%80%}
}
@keyframes cloud-float{0%{background-position:0 80%}
100%{background-position:-100%80%}
}
.apps-app-info .middle-wrapper>.container-fluid{padding:0}
.apps-app-info .middle-wrapper>.container-fluid>h3{margin-bottom:20px}
.apps-app-info .middle-wrapper .sync-store{padding:14px 0;text-decoration:none;cursor:pointer}
.apps-app-info .middle-wrapper .sync-store[disabled]{opacity:.5}
.apps-app-info .middle-wrapper .app-info-form{position:relative}
.apps-app-info .middle-wrapper .app-info-form .field{position:relative;padding:20px 0}
.apps-app-info .middle-wrapper .app-info-form .field:last-child{border-bottom:0}
.apps-app-info .middle-wrapper .app-info-form .field .left-label{margin-top:12px;float:left;font-size:18px;padding-right:60px}
.apps-app-info .middle-wrapper .app-info-form .field .value{padding-left:5px}
.apps-app-info .middle-wrapper .app-info-form .field .value>input,.apps-app-info .middle-wrapper .app-info-form .field .value>textarea{font-size:20px;padding:10px 24px;border-radius:5px;border:1px solid #bdc6c7;color:#555}
.apps-app-info .middle-wrapper .app-info-form .field .value>input[readonly],.apps-app-info .middle-wrapper .app-info-form .field .value>textarea[readonly]{border-color:transparent;padding-left:0}
.apps-app-info .middle-wrapper .app-info-form .field .value textarea{padding:12px 16px;height:320px;width:100%}
.apps-app-info .middle-wrapper .app-info-form .app-screenshots ul li .actions{position:absolute;z-index:2;top:50%;left:0;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:100%;text-align:center;font-size:14px}
.apps-app-info .middle-wrapper .app-info-form .actions button{border:1px solid transparent;padding:12px 24px;background-color:transparent}
.apps-app-info .middle-wrapper .app-info-form .actions button{outline:0}
.apps-app-info .middle-wrapper .app-info-form .actions button[disabled]{opacity:.3}
.apps-app-info .middle-wrapper .app-info-form .actions .save{width:180px;border-radius:30px;background-color:#f8ba0b;color:#fff}
.apps-app-security .btn-invite-member,.apps-app-security .btn-quit{display:inline-block;padding:6px 12px;font-size:12px;border:1px solid #1aa79a;background-color:transparent;color:#1aa79a;border-radius:40px;cursor:pointer}
.apps-app-security .btn-invite-member:active,.apps-app-security .btn-invite-member:focus,.apps-app-security .btn-quit:active,.apps-app-security .btn-quit:focus{outline:0}